<!doctype html>
<html lang="en">
  <head>
    <title>Hello World</title>
    <meta name="description" content="Welcome to my site" />
  </head>
  <body>
    <main>
      <h1>Hello, World!</h1>
    </main>
  </body>
</html>
