---
import type { Locale } from "@/lib/translations";
import { LanguageSelectorReact } from "./LanguageSelector";

interface Props {
  currentLocale: Locale;
}

const { currentLocale } = Astro.props;
---

<div class="language-selector">
  <LanguageSelectorReact currentLocale={currentLocale} client:load />
</div>

<style>
  .language-selector {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 1000;
  }
</style>
